.Rproj.user
.Rhistory
.RData
.Ruserdata
NAPA_OISST_comparisons.html
NAPA_OISST_comparisons_slides.html
issues
annual_summary_MCS/MCS_count_trend*
data/SSTa_stats.Rds
data/MHW_v_MCS.Rds
data/SST_trends.RData
data/MHW_dur_trends.RData